* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body > * {
  padding: 0 2rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 2rem 0;
}

header .right-side {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
  header .right-side {
    display: none;
  }

  header {
    justify-content: center;
  }
}

header .right-side .feature {
  display: flex;
  align-items: center;
  margin-left: 3rem;
}

header .right-side img {
  margin-right: 1rem;
}

header p span {
  color: #248fd6;
  font-weight: 600;
}

nav,
.tabs {
  display: flex;
  background: #0b1e30;
  color: #fff;
  padding: 0;
}

nav p,
.tabs p {
  padding: 1rem;
  transition: all ease 0.3s;
  cursor: pointer;
}

nav p:hover,
.tabs p:hover {
  background-color: #248fd6;
}

article {
  padding-top: 2rem;
}

.tabs {
  justify-content: center;
}

.tabs p {
  text-align: center;
  width: 100%;
}

.data {
  max-width: 80%;
  margin: auto;
  padding: 50px 0 100px 0;
}

.data h3 {
  font-family: 'Roboto';
  color: #248fd6;
  font-weight: 500;
}

.feature p {
  padding: 0;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table,
td,
tr {
  border: 1.02px solid #e8e8e8 !important;
}

td,
th {
  border: 1px solid #f8f8f9;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f8f8f9;
}

tr td:nth-child(1) {
  font-weight: 600;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.thumbs {
  display: flex;
  align-items: center;
  overflow-x: auto;
}

@media screen and (max-width: 960px) {
  .gallery,
  #layout__gallery {
    width: 100%;
  }
}
